#mainDiv{
    display: flex;
    width: 700px;
    height: 700px;
    border: 3px solid black;
    background-color: aqua;
    /* gap: 100px; */
    /* justify-content: baseline; */
    /* justify-content: end;
    justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */

    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;

}

.subDiv{
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    background-color: aliceblue;
    /* display: inline; */
}