#Bulb{
    padding: 50px;
    width: fit-content;
    border: 2px solid #000;
    border-radius: 50%;
}

button{
    margin: 10px;
}

#smartBulb{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on{
    background-color: yellow;
}