*{
    margin: 0px;
    padding: 0px;

}

#experience{

}

#side1{
    width: 20rem;
    background-color: darkslategrey;
}

#image{
    padding: 20px;
    
}

#side2{
    width:40rem;
    background-color: darkgray;
    padding: 20px;
}

#contact, #skills, #reference{
    padding: 10px;
}

#intro{
    text-align: center;
}

#info{
    padding: 20px 10px;
}

#namePos{
    text-align: center;
    padding: 20px;
    
}

#about{
    width: 40rem;
}

.c1{
    width: 40rem;
}

#com1, #com2, #com3{
    display: flex;
    

}

#image{
    width: 16rem;
    height: 16rem;
}

#mainbox{
    display: flex;
}



