*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font-size1: 60px;
    --font-size2: 30px;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --colortext: rgb(139, 132, 132);
}

#nav1{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    height: 60px;
    position: sticky;
    top: 0;
    
}


#intro{
    padding-left: 5%;
}

#midButtons{
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mid1, #mid2, #mid3{
    display: flex;
    justify-content: center;
    align-items: center;

}

#signin{
    padding-right: 5%;
    button{
        width: 100px;
        height: 40px;
        border-radius: 10px;
       
    }
    #b1{
        background-color: aliceblue;
        border: none;
    }
    #b2{
        color: white;
        background-color: black;
    }

    #b1:hover{
        cursor: pointer;
        background-color: rgb(224, 226, 229);
        border: none;
    }
    #b2:hover{
        cursor: pointer;
    }
    
}

#signin:hover{
    button{
        background-color:aquamarine;
    }
}

#hero{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

#content{
    padding: 50px;
    h3{
        font-size: var(--font-size1);
        font-family: var(--font-family);
    }
    p{
        font-size: 24px;
        font-family:'Times New Roman', Times, serif;
        color: var(--colortext);
        padding: 20px 0px;
    }
    input{
        width: 400px;
        height: 36px;
        border-radius: 5px;
        border-color: darkgray;
        border-style: solid;
    }
    button{
        width: 160px;
        height: 40px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #em{
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
        align-items: center;
        input{
            padding-left: 10px;
        }
    }
    
}

#image{
    img{
        width: 500px;
        border-radius: 10px;
    }
}

#clients{
    padding: 100px;
    p{
        text-align: center;
        font-size: 25px;
    }
    #logos{
        display: flex;
        justify-content: space-around;
        img{
            width: 130px;
        }

    }
}

#skills{
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    h3{
        font-size: 40px;
        padding-bottom: 20px;
    }
    p{
        font-size: 20px;
        line-height:30px;
    }
}

#skillset{
    padding: 7%;
    display: grid;
    gap: 50px;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
}

.set{
    text-align: center;
    
    width: 390px;
    h4{
        font-size: var(--font-size2);
    }
    img{
        width: 50px;
    }
    p{
        color: var(--colortext);
        font-size: 18px;
        line-height: 27px;
    }
}

#projects{
    text-align: center;
    h4{
        font-size: 50px;
        padding-bottom: 10px;
    }
    p{
        color: var(--colortext);
        font-size: 18px;
        line-height: 35px;
    }
}

#projectContent{
    padding: 5%;

    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    h5{
        font-size: 20px;
        padding: 10px 0px;
    }
    p{
        color: var(--colortext);
        font-size: 18px;
        line-height: 27px;
        
    }
    gap: 50px;
}

.b1{
    width: 120px;
    height: 30px;
    color: white;
    background-color: rgb(56, 50, 50);
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.items{
    img{
        border-radius: 20px;
    }
}

#resume{
    display: flex;
    padding: 7% 15%;
    justify-content: space-between;
    align-items: start;
    h4{
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 20px;
    }
}

#side1{
    h4{
        font-size: 40px;
    }
    p{
        color: var(--colortext);
        font-size: 18px;
        line-height: 27px;
    }
    button{
        width: 120px;
        height: 30px;
        color: black;
        background-color: white;
        border: none;
        border-radius: 5px;
        cursor:pointer;
        font-size: 16px;
    }
}

#side2{
    display: grid;
    grid-template-columns: auto;

    .certs{
        display: flex;
        justify-content: start;
        align-items:start;
        img{
            width: 70px;
            height: 70px;
        }
        p{
            padding-left: 10px;
            color: var(--colortext);
            font-size: 18px;
            line-height: 27px;
        }
        color: var(--colortext);
    }
}

#reviews{
    text-align: center;
    
    h4{
        font-size: 40px;
        line-height: 100px;
    }
    p{
        color: var(--colortext);
        font-size: 20px;
        line-height: 30px;
    }
}

#reviewContent{
    display:flex;
    /* grid-template-columns: auto auto; */
    justify-content: space-between;
    padding: 10% 18%;
    margin: 10px;
    
    h4{
        font-size: 35px;
        line-height: 50px;
        padding-bottom: 10px;
    }
    h5{
        font-size: 18px;
        line-height: 30px;
    } 
    p{
        color: var(--colortext);
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 10px;
    }
    #zuker{
        img{
            width: 300px;
            border-radius: 10px;
        }
    }
    #i123{
        display: flex;
        img{
            width: 40px;
            height: 40px;
            border-radius: 10px;
            opacity: 50%;
            border-left: 15px solid white;
        }
        img:hover{
            width: 45px;
            height: 45px;
            border-radius: 5px;
            opacity: 100%;
            border-left: 5px solid gray;
        }
        img:active{
            width: 40px;
            height: 40px;
            border-radius: 10px;
            opacity: 50%;
            border-left: 15px solid white;
        }
    }

}

#popularClients{
    text-align: center;
    
    img{
        width: 130px;
    }
    p{
        color: var(--colortext);
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 10px;
    }
    h4{
        font-size: 40px;
        line-height: 50px;
    } 

    #logosBlack{
        display: flex;
        padding: 2% 10%;
        justify-content: space-between;
        filter: grayscale(100%);
    }

}

#contactUs{
    padding: 5%;
    text-align: center;
    p{
        color: var(--colortext);
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 10px;
    }
    h4{
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 25px;
    } 

}

#contactForm{
    
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 50px 150px ;
    padding: 5% 2%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    width: 1100px;
    #form{
        button{
            width: 100px;
            height: 40px;
            border-radius: 10px;
            color: white;
            background-color: black;
        }
    }


    #staticInfo{
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
        padding: 5%;
        width: 35%;
        height: 300px;
        display: grid;
        box-shadow: 5px 5px 5px gray;
        grid-template-columns: auto;
        p{
        color: var(--colortext);
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
            img{
                width: 25px;
                background-color: gray;
                
            }
        }
    h4{
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 25px;
       
    } 
    
    }

    #form{
        display: grid;
        box-shadow: 5px 5px 5px gray;
        border-radius: 10px;
        width: 50%;
        input{
            outline: none;
        }
        #b1{
            display: flex;
            justify-content: end; 
        }
        button:hover{
            cursor: pointer;
        }
    }
    
}

#foot{
    padding: 20px 50px;

    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #b3{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        button{
            background-color: white;
            color: gray;
            font-size: 18px;
            border: 0;   
        }
        button:hover{
            cursor: pointer;
            color: black;
        }
        
    }
    
}

#b8{
    padding: 5px;
    width: 150px;
    height: 40px;
    color: aliceblue;
    background-color: black;
    border-radius: 7px;
    cursor:pointer;
}