@import "tailwindcss";


:root {
  /* Primary */
  --color-primary: #161E54;
  --color-primary-hover: #0F163F;

  /* Secondary */
  --color-secondary: #005fcb;
  --color-secondary-hover: #0063b4;

  /* Background & Text */
  --color-background: #BBE0EF;
  --color-text: #161E54;

  /* Accent */
  --color-accent: #FF986A;
}